{% extends 'catalog/base.html' %}

{% block title %}Каталог товаров {{ product_id }}{% endblock %}

{% block content %}

{% for product in products %}
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ product.name }}</h3>
          <div class="mb-1 text-body-secondary">{{ product.price }}</div>
          <p class="card-text mb-auto">{{ product.description|truncatechars:100 }}</p>
          <a href="{% url 'catalog:product_detail' product.pk %}" class="icon-link gap-1 icon-link-hover stretched-link">
            Подробнее
            <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
           <img src="{{ product.photo.url }}" width="250" alt="Фото не найдено">
        </div>
      </div>

{% endfor %}
{% endblock %}