{% extends 'catalog/base.html' %}

{% block title %}Детали товара {{ product.id }}{% endblock %}

{% block content %}

<h2 class="md-5">Детали товара  (id#{{ product.id }})</h2>
<p></p>
<p></p>
<h3>Категория: {{ product.category }}</h3>
<h3>{{ product.name }}</h3>
<p>
    <a href="{% url 'catalog:product_update' product.pk %}" class="icon-link icon-link-hover me-3">Изменить</a>
    <a href="{% url 'catalog:product_delete' product.pk %}" class="icon-link icon-link-hover me-3">Удалить</a>
    <h5><figure class="text-end">Цена: {{ product.price }}</figure></h5>
</p>
<div class="row">
    <div class="col-4">
        <figure class="figure">
            {% if product.photo %}
                <img src="{{ product.photo.url }}" class="figure-img img-fluid rounded" alt="Фото не найдено">
            {% else %}
                Фото не найдено
            {% endif %}
        <figcaption class="figure-caption text-end">{{ product.name }}</figcaption>
        </figure>
    </div>
    <div class="col-8">
        <h4>Описание</h4>
        <p>{{ product.description }}</p>
        <p><small><em>Создано: {{ product.created_at|date:"d M Y" }}</em></small>
        <small><em>Изменено: {{ product.updated_at|date:"d M Y" }}</em></small></p>
    </div>
</div>

{% endblock %}